subscription_id         = "00000000-0000-0000-0000-000000000000"
state_admin_principal_id = "00000000-0000-0000-0000-000000000000"

location                   = "westeurope"
container_name             = "tfstate"
soft_delete_retention_days = 7

storage_account_name_override = null

additional_tags = {
  Environment = "shared"
  Phase       = "StateBootstrap"
}
